@model LLII_Systems.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<style>
    /* Login */
    body{
       
    }
    .login-form {
        width: 340px;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #444;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

        .login-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 20px;
        text-align: center;
    }

        .form-group label {
            font-weight: bold;
        }

        .form-group input.form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #444;
            box-shadow: none;
            background-color: transparent;
        }

            .form-group input.form-control:focus {
                box-shadow: none;
                border-color: #f64f59;
            }

    /* Login */
</style>
<div class="container  justify-content-center" style="height:80vh;">
    <div class="row">
        <div class="login-form">
            <h2>Login</h2>
            <br />
            @using (Html.BeginForm("login", "account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @onsubmit = "showModal();" }))
            {
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                       
                       
                        <div class="col-lg-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <br />
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href='@Url.Action("", "")' class="btn btn-primary" >Cancel</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

