
@{
    ViewBag.Title = "Web Masterlist";
}

<h2>Web Masterlist</h2>
<div class="item-detail-container">


    <div class="primary-info">
        <h4 class="info-header">Item</h4>
        <div class="row">
            <div class="col">
                <a href="@Url.Action("list","item")" class="btn btn-outline-primary btn-lg btn-wrap">Item list</a>
            </div>
            <div class="col">
                <a href="@Url.Action("add","item")" class="btn btn-outline-primary btn-lg btn-wrap">New Item</a>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>
    </div>
    <div class="primary-info">
        <h4 class="info-header">Store</h4>
        <div class="row">
            <div class="col">
                <a href="@Url.Action("StoreList","WebMasterFile")" class="btn btn-outline-primary btn-lg btn-wrap">Store List</a>
            </div>
            <div class="col">
                <a href="@Url.Action("AddStore","WebMasterFile")" class="btn btn-outline-primary btn-lg btn-wrap">New Store</a>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>
    </div>
    <div class="primary-info">
        <h4 class="info-header">Vendor</h4>
        <div class="row">
            <div class="col">
                <a href="@Url.Action("VendorList","WebMasterFile")" class="btn btn-outline-primary btn-lg btn-wrap">Vendor list</a>
            </div>
            <div class="col">
                <a href="@Url.Action("AddVendor","WebMasterFile")" class="btn btn-outline-primary btn-lg btn-wrap">New Vendor</a>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>
    </div>
</div>


